*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
data*.txt filter=lfs diff=lfs merge=lfs -text
*.seg filter=lfs diff=lfs merge=lfs -text
maf_Moore21.txt filter=lfs diff=lfs merge=lfs -text
