# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  
  # Job to validate only the changed studies
  build:
    docker:
      - image: circleci/python:3.4
    working_directory: ~/repo/
    steps:
      - checkout
      - run:
          name: validate changed studies
          command: |
            cd ~/repo/.circleci
            ./install_dependencies.sh
            ./validate_changed_studies.sh
      - store_artifacts:
          path: test-reports
          destination: test-reports

  # Job to validate all studies
  validate_all_studies:
    docker:
      - image: circleci/python:3.4
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: validate all studies
          command: |
            cd ~/repo/.circleci
            ./install_dependencies.sh
            ./validate_all_studies.sh
      - store_artifacts:
          path: test-reports
          destination: test-reports

# Workflow containing the different jobs
workflows:
  version: 2

  # Workflow to run on every commit for new PRs. Does not run when commit
  # is merged into the master branch.
  workflow_on_commit:
    jobs:
      - build:
          filters:
            branches:
              ignore: master

  # Workflow to run weekly, only on the master branch
  workflow_weekly:
    triggers:
      - schedule:
          cron: "0 12 * * 6"
          filters:
            branches:
              only: 
                - master
    jobs:
      - validate_all_studies