# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  
  # Job to validate only the changed studies
  build:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/repo/
    steps:
      - checkout
      - run:
          name: Validate changed studies
          command: |
            cd ~/repo/.circleci
            ./install_dependencies.sh
            ./validate_changed_studies.sh
          no_output_timeout: 1h
      - store_artifacts:
          path: ~/test-reports
          destination: ~/test-reports

  # Job to validate all studies
  validate_all_studies:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Validate all studies
          command: |
            cd ~/repo/.circleci
            ./install_dependencies.sh
            ./validate_all_studies.sh
          no_output_timeout: 1h
      - store_artifacts:
          path: ~/test-reports
          destination: ~/test-reports

  # Job to validate cbioportal.org with cBioPortal Datahub
  validate_datahub_with_cbioportal:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: validate cbioportal with datahub
          command: |
            cd ~/repo/.circleci
            sudo pip install "requests==2.20.0"
            ./validate_datahub_with_cbioportal.py

  # Job to validate the seed database
  validate_changed_seed:
    # This is required to mount volumes when starting a new docker container, see:
    # https://support.circleci.com/hc/en-us/articles/360007324514-How-can-I-mount-volumes-to-docker-containers-
    machine: true
    working_directory: ~/repo/
    steps:
      - checkout
      - run:
          name: Check for changed seed database and run validation if necessary
          command: |
            cd ~/repo/.circleci
            ./check_changed_seed.sh

  # Check if all studies on datahub are imported in cbioportal.org
  check_all_studies_imported:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: check if all studies imported on cbioportal.org
          command: |
            cd ~/repo/.circleci
            python check_all_studies_imported.py

# Workflow containing the different jobs
workflows:
  version: 2

  # Workflow to run on every commit for new PRs. Does not run when commit
  # is merged into the master branch.
  workflow_on_commit:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
      - validate_changed_seed:
          filters:
            branches:
              ignore: master

  # Workflow to run daily, only on the master branch
  workflow_daily:
    triggers:
      - schedule:
          cron: "0 16 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - check_all_studies_imported

  # Workflow to run weekly, only on the master branch
  workflow_weekly:
    triggers:
      - schedule:
          cron: "0 12 * * 6"
          filters:
            branches:
              only: 
                - master
    jobs:
      - validate_all_studies
      - validate_datahub_with_cbioportal
